name: directory-listing
on: [push]

jobs:
  pages-directory-listing:
    runs-on: ubuntu-latest
    name: Directory Listings Index
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3
        with:
          ref: main #checkout different branch

      - name: Generate Directory Listings
        uses: jayanta525/github-pages-directory-listing@v4.0.0
        with:
          FOLDER: public #directory to generate index

      - name: Modify Directory Listings
        run: |
          # Read the generated index file
          INDEX_FILE="path/to/your/index.html"
          # Modify the links to include the /public prefix
          sed -i 's|href="|href="/public/|g' $INDEX_FILE

      - name: Upload artifact
        uses: actions/upload-pages-artifact@v1
        with:
          path: "public" # upload generated folder

  deploy:
    needs: pages-directory-listing
    permissions:
      pages: write # to deploy to Pages
      id-token: write # to verify the deployment originates from an appropriate source

    # Deploy to the github-pages environment
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}

    # Specify runner + deployment step
    runs-on: ubuntu-latest
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v1
